---
import MainLayout from '../layouts/MainLayout.astro';
import InsightsFeed from '../components/InsightsFeed.astro';

---

<MainLayout title="Insights">
	<div class="space-y-8">
		<InsightsFeed />
	</div>
</MainLayout>
